[2013-11-07 06:53] arialdomartini opened #6 "It does not work with zsh"
Sooner or later I have to make it zsh compatible, and possible installable with Antigen

[2013-11-08 12:05] arialdomartini opened #8 "The script relies on the fact that the `.git` directory is stored in the repository directory"
When calculating the number of commits in the stash, the script performs a cat on `.git/refs/stash`

[code]

In the rare case the `.git` has been moved in another position (as described, for example here http://stackoverflow.com/questions/505467/can-i-store-the-git-folder-outside-the-files-i-want-tracked) the script will raise an error.

The `cat` has been introduced in substitution of

[code]

be

[2013-11-09 06:29] #8 closed, assigned to nobody

[2013-11-10 19:24] nerevar opened #10 "Putty doesn't support all the symbols"
Here what I see in Windows 7 SP1, PuTTY 0.62
http://clip2net.com/clip/m16755/1384111303-clip-2kb.png

Probably I should install unicode fonts?

[2013-11-12 05:16] arialdomartini opened #13 "The number of commits ahead and behind is not calculated correctly"
For example: when the local branch is 1 commit ahead the upstream branch a `+2` is showed, while the correct number should be 1

[2013-11-12 05:26] #13 closed, assigned to nobody

[2013-11-13 13:05] #6 closed, assigned to nobody

[2013-11-13 18:45] celeron55 opened #14 "Local branch with no upstream causes a lot of errors"
On a local branch with no upstream:

[code]

This is pretty bad.

[2013-11-13 18:50] celeron55 opened #15 "base.sh has DOS newlines"
base.sh has DOS newlines. It should have Unix newlines like prompt.sh does.

[2013-11-13 19:46] arialdomartini opened #16 "parse error near `\n' in base.sh"
@granze noted on a Ubuntu 13.10

[code]

[2013-11-13 19:49] #16 closed, assigned to nobody

[2013-11-13 19:52] #15 closed, assigned to nobody

[2013-11-14 06:47] fenhl opened #17 "License"
I would like to add a modified version of this to [my syncbin](https://github.com/fenhl/syncbin). It would be nice if you could license this under something permissive like [the MIT license](http://choosealicense.com/licenses/mit/).

[2013-11-14 09:06] #17 closed, assigned to arialdomartini

[2013-11-14 12:13] #14 closed, assigned to nobody

[2013-11-19 10:38] arialdomartini opened #20 "With git v1.6 tracking branches are not detected"
The same with v1.7.9.5. See for example #14

[2013-11-21 17:25] jvtrigueros opened #21 "Tab scrolls terminal up one line when using the arialdo themes in a git directory"
System Information:
**OS**: OSX 10.8.5
**Terminal**: iTerm2 Build 1.0.0.20131116
**Installation**: Installed via antigen

When in a `git` directory and using one of the `arialdo` themes, pressing the TAB key causes them terminal to move the current position one line up overwriting anything that was there before.

I have attached screenshots to explain better:
- Starting state using arialdo theme

[2013-11-22 19:25] #21 closed, assigned to arialdomartini

[2014-05-27 20:22] oalders opened #25 "Disable oh-my-git on a per-repository basis"
Is there a way to do this? I work with a 2.9 GB repository that has about 33k commits and sometimes basic git commands just take too long, depending on the available resources etc.  So, I'd like to keep oh-my-git in my dot files, but disable it only for this particular repository.

[2014-05-28 07:07] #25 closed, assigned to nobody

[2014-12-29 14:05] sgiath opened #28 "Doesn't work, don't know why"
I have Ubuntu 14.04 and I've installed oh-my-git by one-liner command. And when I restart terminal it shows me this:

[code]

I've try to fix this, but nothing work.

[2014-12-29 17:59] arialdomartini opened #29 "It should support Awesome Terminal Fonts"
oh-my-git symbols should support [Awesome Terminal Fonts](https://github.com/gabrielelana/awesome-terminal-fonts) by @gabrielelana

[2014-12-30 14:20] #28 closed, assigned to nobody

[2015-01-02 22:42] arialdomartini opened #30 "untracked files not detected together with modified files, in bash"
In bash (but not in zsh), when there are untracked files **and** modified files, the symbol for untracked files is not displayed.

[2015-01-02 22:59] #30 closed

[2015-01-20 13:52] mgryszko opened #34 "enrich_append:local:2: not valid in this context"
After installing `oh-my-git` and your patched fonts, I'm getting this error on every shell execution:

[code]

![image](https://cloud.githubusercontent.com/assets/516050/5818218/f1e50912-a0b3-11e4-8ff6-6ed715dec3d8.png)

[2015-01-20 16:01] #29 closed

[2015-01-20 16:20] arialdomartini commented on #34
Hi, @mgryszko
Thanks for the report!
I'm having problems to reproduce this issue. I think it may depends on some required variable being null.

Does that problem arise in any repository, or (so far) only in ```~/.dotfile```?

[2015-01-20 17:25] sg-s opened #36 "OS X install instructions need a small change"
instead of

[code]
(which didn't work) I had to

[code]

[2015-01-20 17:43] sg-s opened #37 "need help installing fonts"
1. Do I download both the .sh and the .ttf files from [here](https://github.com/gabrielelana/awesome-terminal-fonts/tree/patching-strategy/patched)?
1.1: Is there a simple way to download them? Cloning the repo only seems to get the master branch, not the branch with "patched"
2. Where do I put them? I take it I shouldn't install the fonts using OS X's font book?
3. I tried following instructions

[2015-01-21 06:22] arialdomartini commented on #36
Hi @sg-s
Well, the thing is a bit more complicated.

When you run a terminal, what you get is a login session, so bash will source  ```~/.bash_profile``` or ```~/.profile```

Yet, when you run a new bash inside a bash, ```.bashrc``` is sourced, and the profile files are skipped.

Look: I put a ```echo I'm bash profile``` inside ```~/.bash_profile``` and ```echo I'm bashrc``` inside ```~/.bashrc```

[2015-01-21 06:22] #36 closed

[2015-01-21 07:38] arialdomartini commented on #37
Hi @sg-s

1 - Well, only the ```.ttf``` files are required in order to install the fonts. You can download them in several different ways. Just browse to https://github.com/gabrielelana/awesome-terminal-fonts/tree/patching-strategy/patched and download the ```.ttf``` files; or run

[code]
(as you see, when you clone a repo, all branches are cloned)

Or, you can download the zipped version of the r

[2015-01-21 07:52] #37 closed

[2015-01-21 07:52] arialdomartini commented on #37
I added more detailed instructions to the readme. I hope this helps.

[2015-01-21 07:55] arialdomartini opened #38 "It does not support python virtualenvs properly"

[2015-01-21 08:15] mgryszko commented on #34
It happens in other (Git) directories as well.

Can you give me a hint, was `enrich_append` does, so I can investigate the
problem myself?

[2015-01-21 08:26] arialdomartini commented on #34
Hi @mgryszko.
Well, the function ```enrich_append``` outputs a symbol or a space, depending on the value boolean flag.

If the flag is true, the symbol is displayed; if it's false, a space is displayed in place of the symbol.

The function accepts 3 arguments: the boolean flag, the symbol and the color.

For example, in order to display a white glyph "~" for untracked files, ```enrich_append``` co

[2015-01-21 08:55] arialdomartini commented on #34
I suggest you to use the XTRACE option of zsh (which you can activate running zsh with ```-x```): it helps to understand the parameters passed to ```enrich_append```. I suspect one of your symbols is somehow null.

http://bolyai.cs.elte.hu/zsh-manual/zsh_16.html

[2015-01-21 10:19] mkpankov opened #39 "Can I install using oh-my-zsh?"
I don't have antigen and don't want to install it because I already use oh-my-zsh.

How to install using it?

[2015-01-21 14:14] MattAitchison commented on #34
@arialdomartini I am having the same errors here is the relevant part of xtrace.

[code]

[2015-01-21 16:15] zedtux commented on #37
I have the first described issue from the Troubleshooting section of the README.

I have installed `antigen` with `zsh`, I have updated my `.zshrc` file accordingly and I start to see the prompt but with the font issue (having crosses instead of icons).
I have downloaded the `.ttf` files, clicked the `Install Font` button and updated the iterm2 configuration in order to use the `Droid Sans Mono Aw

[2015-01-21 16:19] zedtux commented on #37
Ha ! I've found !

iterm2 has 2 font fields: `Regular font` and `Non-ASCII Font`. I had updated only the first one. Updating the second one make it working.

[2015-01-21 16:29] sg-s commented on #36
thanks, i learnt something!
i found this in my `.bash_profile`
[code]

[2015-01-21 16:38] sg-s commented on #37
@arialdomartini thanks!
the crucial step I forgot to do was this:
![screen shot 2015-01-21 at 11 36 43 am](https://cloud.githubusercontent.com/assets/6005346/5840236/0483a91c-a162-11e4-9416-06f85ae4c296.png)

[2015-01-21 17:06] arialdomartini commented on #37
Nice! Enjoy, and thanks!

[2015-01-21 17:07] arialdomartini commented on #36
I didn't no either! Nice to know.
Cheers!

[2015-01-21 22:38] atav32 commented on #38
+1

[2015-01-22 08:49] arialdomartini commented on #38
Hi @atav32, hi @andreagrandi

Would you please help me deciding how to fix this issue? Apparently, we all are interested in making oh-my-git compatible with python virtualenv.

I read a bit about how virtualenv injects the virtualev name into the prompt. Unfortunately, I discovered that the virtualenv's approach is pretty disappointing (see [Virtualenv's bin/activate is Doing It Wrong](https://gis

[2015-01-22 08:56] arialdomartini commented on #39
Hi @mkpankov
Unfortunately, I think you cannot, so far.

The good news is that @bric3 published an [oh-my-git spin-off](https://github.com/bric3/oh-my-zsh-git) as a zsh plugin, so I'm sure this will be possible for oh-my-git as well. The bad news is that @bric3's version is not up-to-date with the current theme, that uses the Awesome-Terminal-Fonts, and it is likely that you are interested in the

[2015-01-22 09:06] mkpankov commented on #39
Hi @arialdomartini

Thanks for explanation. I'll take a look at oh-my-zsh plugin.

Unfortunately, I didn't write any oh-my-zsh plugins so can't help you -_-

[2015-01-22 09:44] bric3 commented on #39
@mkpankov @arialdomartini I'm a bit busy right now, but I'd like to keep up date the _spin-off_. Note that if this is only an issue with font, it is possible to override characters as documented in the [readme](https://github.com/bric3/oh-my-zsh-git/blob/master/README.md).

I've updated the picture as the link got broken.

[2015-01-22 13:00] arialdomartini commented on #39
@mkpankov Ok, I read about writing a plugin. It seems straightforward! This will be the next task in my backlog for oh-my-git. Stay tuned!

[2015-01-23 10:13] jeremy-derusse opened #42 "More compact diplay"
First of all, thank you for this script.. I really love it !

But, I miss some feature like:
- displaying the number of changes
- having a smaller bar
- hidde=ing unnecessary informations (ie, displaying the remote name only when you have to push or merge)

So, I forked your repositopry (https://github.com/jeremy-derusse/oh-my-git) and made few changes. But, this changes are personal and break BC

[2015-01-23 16:48] arialdomartini commented on #42
It is amazing!

I love that it uses a completely different approach than mine.
The idea behind the original oh-my-git is to have a dashboard, something like the instrumental panel in a car, where all the lights and the symbols are always at the same exact position, and they turn on and turn off, depending on events.
With this approach my eyes won't have to *look for a message*; they can *learn* wh

[2015-01-23 17:38] jeremy-derusse commented on #42
What about include a different file in bashrc: `source /home/jderusse/oh-my-git/prompt-theme-a.sh`

[2015-01-23 20:31] arialdomartini commented on #42
Yeah! This is what I was thinking driving the car back home after work today.

Actually, oh-my-git is comprised of two elements: ```base.sh```, which contains the function ```build_prompt```, and ```prompt.sh``` which contains the function ```custom_build_prompt ```.

The first one analyses the environment and pass the second one a set of variables and flags, telling it "this is a repo, we are on

[2015-01-23 20:48] arialdomartini commented on #42
@jeremy-derusse I meant to say, in order to include your theme, we'd need to patch ```base.sh``` file, so that it returns the new variables that you calculate (the number of untracked files and so on). Those variables will be passed to all the themes, so I think I'll need to modify them. I'd like to know your point of view, before starting this. Chances are you have a different strategy to propose

[2015-01-23 21:39] jeremy-derusse commented on #42
I prefere the solution 1, because it simple to wrote and did not use a global variable, but that's just my 2 cents opinion :)

Half agree with your second comment.
- Aggree, that that should keep has_xxxx to keep backward compatibility.
- but this metod is called with 24 arguments, I'm not sure that adding 7 new arguments (and maybe more with futur evolutions) is a good thinks.

Do you think it co

[2015-01-23 21:41] jeremy-derusse commented on #42
nb: It don't use zsh, I ignore if it work or not...

[2015-01-24 07:41] arialdomartini commented on #42
Hi @jeremy-derusse, I like your approach.

In fact, I hate that I'm returning 24 parameters. I struggled to understand how to return a dictionary, but as a matter of fact, bash 3 does not support dictionaries, and arrays can't be returned. This sucks a lot. Bash 4 and zsh solve most of those ugly limitations, but a lot of people still stick to bash 3.

Reading your proposal I think that a good app

[2015-01-24 08:56] jeremy-derusse commented on #42
I misspoke my last comment, (In french we use the same word for "don't know" and "ignore").
I didn't mean, that I ignore zsh's user. I mean that I don't know if my proposal works or not in zsh.
It's important that oh_my_git works with both bash and zsh, and I thinks, it'll be better if it's works with the same code and same repo.

I also don't know if it's works with bash 3 :(

If you refactor the

[2015-01-24 09:39] arialdomartini commented on #42
Oh! Didn't know that fact about French! Funny!
Ok, I'll work on this feature the next days. Stay tuned!

[2015-01-24 09:44] arialdomartini commented on #42
(Well, thinking about that, in Italian as well "ignoro" means both "I don't know" and "I don't care". Funny)

[2015-01-28 21:32] atav32 commented on #38
Haha sorry I'm also bash, but I'm excited to try out the fix

[2015-01-28 23:18] andreagrandi commented on #38
Hi @arialdomartini ! I did some small changes to the PR I did for you and you can find my version here: https://github.com/andreagrandi/oh-my-git

It still uses the "inject" approach, but it's not that bad... I mean: if no venv is available, no string is displayed in that place. I also changed the place where you display the venv information. Here is my output:

![oh_my_git_venv](https://cloud.git

[2015-02-03 03:44] viraptor opened #43 "Original prompt preserving fails... badly"
After loading oh-my-git via antigen, I get this in my prompt:

    $PROMPT_SUCCESS_COLOR~$reset_color $GIT_PROMPT_INFO$(git_prompt_info)$GIT_DIRTY_COLOR$(git_prompt_status) $reset_color$PROMPT_PROMPTᐅ$reset_color              14:38  viraptor@gumby

Doesn't seem right... My `.zshrc` is pretty simple:

    source $HOME/Projects/antigen/antigen.zsh

    antigen use oh-my-zsh

    antigen bundle git

[2015-02-03 04:53] arialdomartini commented on #43
Hi @viraptor
I noticed that the use of `theme muse` together with `oh-my-git` can be the cause.

In fact, the prompt you get is exactly the one defined in https://github.com/robbyrussell/oh-my-zsh/blob/master/themes/muse.zsh-theme#L16

Could you please try commenting the following line?

[code]

[2015-02-03 07:08] arialdomartini commented on #38
@andreagrandi, while I really liked the simplicity of your PL (way less code lines than mine!), I finally decided I didn't want to make oh-my-git python dependent, and I merged the pull request https://github.com/arialdomartini/oh-my-git/pull/40. I hope you don't mind too much!

[2015-02-03 07:08] #38 closed

[2015-02-03 08:22] #20 closed

[2015-02-03 14:12] jamez14 opened #46 "Prompt prefix full computer name issue"
I'm wondering if this is something on my end or possibly a setting I can flip to help to "fix" this *issue*. As you can see in the image below, when I'm not in a git repo, the prefix of the repo is my full computer name along with my name followed by a $ sign. Although when I am in a Git repo, it works as expected. So for example, when in the root directory `~`, my prompt would look like: `Admins-

[2015-02-03 16:50] kendall opened #47 "Patched font doesn't work with iTerm 2"
![ohmygit](https://cloud.githubusercontent.com/assets/1251/6024665/e7f4967e-ab9a-11e4-9902-44d44ae2e1e2.png)

[2015-02-03 17:01] arialdomartini commented on #47
Hi @kendall

In my version of iTerm2 the font has to be set twice, both for **Regular Font** and for **Non ASCII Font**.
My current settings is this one

![screen shot 2015-02-03 at 17 57 46](https://cloud.githubusercontent.com/assets/150719/6024833/625d828a-abce-11e4-88ba-fa5b85acb1fd.png)

I wonder if your situation may depends on the **Non ASCII Font** part missing the font.

[2015-02-03 17:04] kendall commented on #47
Meh! I'm an idiot. Of course that's it. Please close this so my stupidity is not so visible.

[2015-02-03 17:08] arialdomartini commented on #47
@kendall ^_^   On the contrary, I think I'd better add this to the instructions, and thank you because it's actually a lack of information in the readme.

[2015-02-03 17:17] #47 closed

[2015-02-03 17:17] arialdomartini commented on #47
I patched the readme. Thank you, @kendall !

[2015-02-03 22:58] Sgiath opened #49 "Looks bad"
Hi, why my Terminal with git repository looks so bad? (arrow at the end of "git line"). Is it just because I've changed colors in my profile or there is some way how to fix it?
![oh-my-git](https://cloud.githubusercontent.com/assets/6009528/6031476/0b9bfe2c-ac00-11e4-898a-324a71be6cb5.png)

Thanks

[2015-02-04 06:31] viraptor commented on #43
That worked, thanks. I must've misunderstood the example - I expected the theme to revert to the previously set one outside of git repos.

[2015-02-04 06:58] arialdomartini commented on #49
Hi @Sgiath
Yes, it depends on the background color.
I'm working on a fix, which I will document in the readme. Stay tuned, I'll be pushing it in few hours.

[2015-02-04 08:42] #49 closed

[2015-02-04 08:43] arialdomartini commented on #49
Hi @Sgiath
The issue should be fixed. Please find a detailed description in the readme.
I hope this helps!

[2015-02-04 08:44] arialdomartini commented on #43
You are welcome!

[2015-02-04 08:44] #43 closed

[2015-02-04 11:01] arialdomartini commented on #46
Hi @jamez14

Let me understand better.

For the sake of simplicity, let's call `ungit_prompt` the prompt you have when you are outside a git repo. When you are inside a git repo, the actual prompt is composed by two lines: the first one which we could call the `oh-my-git_prompt` and the `second_line`.

What you are saying is that the `ungit_prompt` is not equal to the `second_line`, aren't you?

A

[2015-02-04 11:30] Sgiath commented on #49
I have better fix for that :)
![oh-my-git](https://cloud.githubusercontent.com/assets/6009528/6039646/454c965e-ac69-11e4-8f80-37425181d04b.png)
In color palette set the first color (top-left corner) same as background color and this fix it ;)

[2015-02-04 11:49] arialdomartini commented on #49
Great!
I'm adding this to te readme.

Anyway, this works as long as the background is taken from the 16 colors palette. With OS X Terminal, thou, the background can be choosed from a 16M palette, and this makes the problem harder.

I'm adding your solution in the documentation. Thanks, @Sgiath !

[2015-02-04 15:27] jamez14 commented on #46
I think that makes the most sense. Also you're right that `ungit_prompt` is not equal to `second_line`. By preserving the original `PS1`, I find it easier (personally) to be able to make any adjustments to my `ungit_prompt` settings.

I've incorporated your PR into my `prompt.sh` pending the next release so I can have this locally now. Thanks for your help with this and for looking into it so quic

[2015-02-04 16:03] arialdomartini commented on #46
Hi @jamez14 !
Thanks a lot! I'm merging the PR!

[2015-02-04 16:03] #46 closed

[2015-02-04 20:15] arialdomartini opened #53 "Performance issue for huge repository"
As focused by @tiborvass, oh-my-git can be pretty slow, when working in particularly big repos.

An analisys should be performed, in order to understand where oh-my-git spends most of its time, and an optimisation should hopefully be performed.

So far, as a dirt workaround, oh-my-git can be disable on a repository basis, as explained in the readme file. Obviously, we aim for a better solution. Th

[2015-02-07 00:48] blueyed opened #57 "Number of stashes is always 1 (if not 0)"
The method used to get the number of stashes (https://github.com/arialdomartini/oh-my-git/blob/master/base.sh#L104) counts the lines in `.git/refs/stash`, but that is just the sha of the top stashed entry.

I am using `git stash list | wc -l` to get the numbers of stashes.

[2015-02-07 01:06] blueyed commented on #53
Make sure to not use an alias / function where `git` is mapped to e.g. [hub](https://github.com/github/hub.git), e.g. use `command git` (and let the user easily configure it).

Then, for profiling I recommend using a wrapper function for `git` to see where and how it gets called. You can log it into a file, e.g.

    git() {
      echo "$@" >> /tmp/profile.log
      command git "$@"
    }

As for

[2015-02-07 03:50] pertrai1 opened #58 "How to use with Yadr?"
Hi, I am using Yadr and would love to try this out. Only problems is that when I follow the instructions you have, it has no effect on my YADR setup. Any tips on how to get this working?

Thank you,

Rob

[2015-02-07 08:47] arialdomartini commented on #58
Hi @pertrai1
I didn't know YADR (well, I'm not on the vim side, I'm an emacs users ;)

What do you mean with "it has no effect on my YADR setup? Could you please elaborate? What was the result you expected or you would like to expect?
Cheers!

[2015-02-07 12:27] pertrai1 commented on #58
Ah, sorry for not giving more details. I guess it is not so much YADR as it is presto and presto themes that it uses. I am looking for the same result that you have with your terminal. Only right now I use the presto theme 'peepcode' and when I followed the instructions on README here, it did not make a change. Is there anything to do for it to play nicely with Presto?

[2015-02-07 14:48] pdostal commented on #47
@kendall I spent also an hour by solving this 'issue' - don't worry :+1:

[2015-02-07 19:11] kopipejst opened #59 "arrow size on OSX"
![screen shot 2015-02-07 at 11 10 46 am](https://cloud.githubusercontent.com/assets/198219/6093589/16fba3a0-aeba-11e4-8589-5410f28bba86.png)

[2015-02-08 18:53] LeonardoReyes opened #60 "Cannot install fonts in OS Yosemite"
Hello,

I have attempted all installations and unfortunately I have not managed to install the patched fonts in my system. Thus my git looks really depressing...

Has any one have struggled in installing the fonts and solve this issue?

Any hint would be really appreciated.

Thanks,

![image](https://cloud.githubusercontent.com/assets/7468159/6097842/b8982d32-afc3-11e4-8af2-06d7a46b6442.png)

[2015-02-10 01:04] KevinCorcoran commented on #39
+1, this would be great.  I don't really want to mess with antigen but I'd love to try this out as a oh-my-zsh plugin/theme.

[2015-02-10 04:19] rpbaltazar commented on #60
I'm running Yosemite and I've installed the fonts without problem.
Have you changed the font to be used by your terminal to match the recently installed one?

[2015-02-10 07:44] LeonardoReyes commented on #60
Hi,

Thanks for answering. Yes I have tried that but the problem is that I cannot find the fonts eventhough I have tried to install them several times.

When I click on install the fonts prompt opens and flashes but it does not get installed.

Any alternative to install the following fonts?

Thanks,

Leonardo

[2015-02-10 12:01] arialdomartini commented on #60
Hi @LeonardoReyes, sorry for the late reply.
Let me understand: the problem is, no matter if you double-clicked on the ttf font icon, `Font Book` won't install it.
That is, if you open `Font Book`, the font is not listed

![screen shot 2015-02-10 at 12 58 25](https://cloud.githubusercontent.com/assets/150719/6126816/87aecf0c-b124-11e4-823a-65a31177ac61.png)

Is the Awesome-Font listed in `Font Boo

[2015-02-10 12:02] arialdomartini commented on #59
Are you on iTerm2?

is it possible that you selected different fonts or sizes in the 2 sections?

![screen shot 2015-02-10 at 13 02 39](https://cloud.githubusercontent.com/assets/150719/6126875/1d2a9a8e-b125-11e4-92cb-78b987db0179.png)

[2015-02-10 12:05] arialdomartini commented on #57
Hi @blueyed

You are right! I'm fixing it!

[2015-02-10 19:14] WilcoE commented on #60
i got almost the same issue, my fonts are installed but get  the same output as image in first post.

[2015-02-11 15:34] albertorestifo opened #61 "Missing explanation in documentation"
There is an explanation missing:

Why when I'm on a branch (`ember` in this case) I see the view like this:
![image](https://cloud.githubusercontent.com/assets/1037048/6149821/ab6d9e4a-b20b-11e4-9dfe-6e2a8a64b415.png)

The `--` are not showing me the progress against the origin and so on, but when on `master` I see the expected view:
![image](https://cloud.githubusercontent.com/assets/1037048/6149

[2015-02-11 20:20] kopipejst commented on #59
I'm using Terminal. my font size is 12

[2015-02-12 08:00] arialdomartini commented on #61
Hi @albertorestifo

I think I don't understand. Your branch `ember` is not tracking any remote branches. The symbol between the two `--` shows that the branch is local.

On the contrary, the branch `master` is tracking `origin/master`: then, oh-my-git displays the name of the remote (in your case `origin`) and the relative distance between your local branch and the tracked branch (in your case: `-

[2015-02-12 08:03] arialdomartini commented on #60
Hi @WilcoE

Are you using Terminal or iTerm2? Can you please show your current font setting, in your Terminal?
I'm using this one on iTerm2

![iTerm2 Preferences Page](https://raw.githubusercontent.com/arialdomartini/oh-my-git-gh-pages/master/images/samples/iterm2.png)

Please, note that I had to select the font twice, in both the font sections.

[2015-02-12 08:04] arialdomartini commented on #59
Hi @kopipejst
As far as I understand, you are using the same font, with the same size in both the sections.

Have you tried to experiment with other sizes? Is the problem the same no matter what the font size is?

[2015-02-12 08:58] albertorestifo commented on #61
Yes, exactly!

Oh ok, so my branch `ember` is being tracking locally. Perfect. I forgot to add a `-u` on the first push I did to the remote.

Very useful feedback!

[2015-02-12 10:18] arialdomartini commented on #61
Fixed, thank you!

[2015-02-12 10:18] #61 closed

[2015-02-12 14:12] kopipejst commented on #59
![screen shot 2015-02-12 at 6 10 41 am](https://cloud.githubusercontent.com/assets/198219/6168877/07142382-b27e-11e4-9056-efff8ae68ef0.png)

problem is same with any font size

[2015-02-12 23:04] LeonardoReyes commented on #60
Hello Arialdo,

Thanks for your prompt response.

The problem is, as you suggested, no matter if I double-clicked on the ttf
font icon, Font Book won't install it.

This is my font book

As you see above, I did manage to install other fonts. My only problem is
with the Source code awesome. Is there maybe a security barrier for
customised fonts?

Any hint will be appreciated!

Thanks,

Leonardo

Fr

[2015-02-13 04:30] sorin-ionescu commented on #58
YADR is an acronym for Yet Another Dotfiles Repository.

He is asking how to use oh-my-git with [Prezto](https://github.com/sorin-ionescu/prezto).

Prezto has its own implementation for [Git status](https://github.com/sorin-ionescu/prezto/blob/master/modules/git/functions/git-info) in the [Git](https://github.com/sorin-ionescu/prezto/tree/master/modules/git) module, which oh-my-git may choose to u

[2015-02-13 09:38] oxman opened #63 "How to use old prompt ?!"
I don't understand how to use old prompt.
My config :
antigen theme robbyrussell
antigen bundle arialdomartini/oh-my-git
antigen theme arialdomartini/oh-my-git-themes oppa-lana-style

And outside git directory my prompt look like this :
${ret_status}$fg_bold[green] $fg[cyan]~ $fg_bold[blue]$(git_prompt_info)$fg_bold[blue] $reset_color

[2015-02-14 00:00] sorin-ionescu commented on #59
You need to adjust vertical character spacing in the font dialogue.

[2015-02-18 17:56] sheldond commented on #60
Droid+Sans+Mono+Awesome.ttf and Inconsolata+Awesome.ttf installed fine for me on Yosemite, however SourceCodePro+Powerline+Awesome+Regular.ttf did not install.

The issue appears to be that the font is named incorrectly. I renamed it to SourceCodePro+Powerline+Awesome.ttf (minus the +Regular) and then the installation worked. :)

[2015-03-02 23:57] kopipejst commented on #59
@sorin-ionescu thanks

[2015-03-02 23:57] #59 closed

[2015-03-08 21:39] #57 closed

[2015-03-16 07:46] gerchicov-bp commented on #60
I have the similar problem but in 10.9.4
I want to uninstall your plugin. What should I do?

[2015-03-16 10:25] wolczek opened #67 "Can I use it without oh-my-zsh?"
I use zsh and zprezto because oh-my-zsh is very slow.
Is there a way to install oh-my-git on that env? (no luck so far)

[2015-03-18 11:34] arialdomartini commented on #60
Hi @gerchicov-bp
I added some information on how to uninstall oh-my-git in the main page. I hope this helps!

[2015-03-18 11:38] arialdomartini commented on #60
Hi @sheldond
Could you please help me understand?

Do you suggest me to make a pull request to the Awesome-Terminal-Font repository and rename the font file?

Also, I wonder why not everyone is having the problem reported in this issue: I've been personally unable to reproduce it, and this is unfortunate...

[2015-03-18 11:46] arialdomartini commented on #63
Hi @oxman
could you please try to put your old prompt in the variable `omg_ungit_prompt`?

I have the suspect that the strange behaviour you are seeing could be the side effect of some other antigen or oh-my-zsh theme. Could you please share your `.zshrc` with me?

[2015-03-18 16:22] sheldond commented on #60
Hi @arialdomartini, renaming the file worked for me, but if you are not able to reproduce the issue then I'm not sure what to say. I wouldn't want to break the font installation for other users by renaming it. Before submitting a pull request I think it would be best to have someone else confirm that the renaming solution worked for them also. Thanks!

[2015-03-23 09:04] oxman commented on #63
Its ok in omg_ungit_prompt, i already "fixed" my problem with settings this variable one month ago :)

my .zshrc :
source /usr/share/zsh/scripts/antigen/antigen.zsh

antigen use oh-my-zsh
antigen bundle arialdomartini/oh-my-git
antigen bundle autojump
antigen theme arialdomartini/oh-my-git-themes oppa-lana-style

antigen apply

[2015-03-30 15:57] cjroth commented on #60
I'm having the same issue with Yosemite. I'm confused as to what fonts are being named to what.

[2015-04-02 03:45] masukomi commented on #53
## Question
It seems to me that all the things omg does are unaffected by repo size. It should take the same amount of time to calculate the branch, remote branch, tag, if the working directory is dirty or not, etc regardless of how many files are in the repo or how many commits are in its history. As you noted performance tests have to be made to figure this out but I'm not seeing any obvious thi

[2015-04-02 11:43] blueyed commented on #53
I think omz should make use of zsh's `vcs_info` mechanism first, and then there can be some caching on top of it (via precmd/preexec and vcs_info hooks (which can skip init/get-data)).

See my theme (https://github.com/blueyed/oh-my-zsh/blob/master/themes/blueyed.zsh-theme), which uses this mechanism.

It uses `add-zsh-hook chpwd _force_vcs_info_chpwd` (+ for preexec etc) and then uses the vars fr

[2015-04-02 20:41] masukomi commented on #53
`vcs_info` wouldn't work for us bash users. :(

[2015-04-03 20:25] blueyed commented on #53
Oh, I was mixing up the repo with oh-my-zsh..
Sorry!

[2015-04-03 21:18] heyalexej commented on #58
@sorin-ionescu it seems to be a fair bit of work to make it compatible with Prezto. I love Prezto and don't want to give up on it because I think it's so far the best implementation of a config framework. I'd love to port the theme though if someone would be willing to help out. What do you think @arialdomartini?

[2015-04-03 22:32] sorin-ionescu commented on #58
@heyalexej The author would not make oh-my-git compatible with Prezto but with the Zsh built-in prompt theming function.

[2015-04-03 22:46] heyalexej commented on #58
@sorin-ionescu Sorry for confusion. Wrong wording on my side. That's what I meant to say. Making a fork/branch!? that is using the Zsh built-in functions so it becomes compatible with Prezto. I'd try to tackle it if I can get some help with feedback along the way.

[2015-04-04 00:45] sorin-ionescu commented on #58
@heyalexej Sure. You might want to take a look at other themes first. Make a small one to learn.

[2015-04-08 15:03] Reiner030 opened #69 "Docu addition: Package install of fonts with minimal Debian Wheezy Backports / Ubuntu Trusty:"
would be nice:

https://packages.debian.org/wheezy-backports/fonts-font-awesome
http://packages.ubuntu.com/de/trusty/fonts-font-awesome

Bests

[2015-04-10 06:10] michel-slm opened #70 "Theme support for Bash?"
My work computer still uses a spinning hard disk instead of SSD, and on it bash + oh-my-git is noticeably faster than zsh + oh-my-git.

Unfortunately using the latest Git commits means using the oppa-lana-style theme (slightly garish, requires installing fonts, etc.). Is it possible to make it easier to switch between the three themes on Bash, short of overriding the prompt definitions myself?

[2015-04-10 12:04] michel-slm opened #71 "In Bash, build_prompt override custom modifications made by Python virtualenv"
virtualenv marks which environment you're in by prepending (envname) to PS1 -- if I unset PROMPT_COMMAND this modification is preserved (but Oh-my-Git stops updating the prompt). But if I leave PROMPT_COMMAND in place the modification made by virtualenv is never shown

How to reproduce:
- install virtualenvwrapper (<-- easier, you can also just install virtualenv)
- mkvirtualenv testenv
- workon t

[2015-04-18 06:31] arialdomartini commented on #70
Hi @michel-slm
I'm sorry for the very late reply.

As for your issue, actually support for themes is in my backlog (but aa you see in these months I an not finding the time to work on oh-my-git. Shame on me).
I could suggest a workaround: since to use oh-my-git you cloned its repository, it's straightforward to checkout a previous version. In https://github.com/arialdomartini/oh-my-git/releases yo

[2015-04-23 02:51] michel-slm commented on #70
Hi Arialdo,

Ah, thanks, will do that for now. What's bothering me more is the other bug I file really - that Oh my git doesn't preserve modifications to the Bash prompt by, eg, virtualenv

[2015-04-28 14:16] Sgiath opened #72 "Wrong behavior when renaming"
When I rename some folder under GIT it shows me that some files are deleted and some files are added. It's correct. But when I type `git add --all .` it should show me symbol for ready to commit but it shows nothing. It looks like I have everything committed.
![screen shot 2015-04-28 at 16 14 16](https://cloud.githubusercontent.com/assets/6009528/7371523/d006b3ee-edc1-11e4-8855-57a5768fa646.png)

[2015-05-05 23:02] Reiner030 opened #74 "Would be nice to have also $omg_last_symbol to configure prompt end"
Hello,

in my bash / with X11 + awesome font installed from Debian package and within remote putty access  (also with Meslo font) I got both times a buggy prompt end. So it would be nice to get it configurable:
[code]

Thanks ;)

[2015-05-13 12:21] robkorv opened #75 "switch (branch name | origin) in status display"
the status displays branch name followed by remote, while the git command follows remote/branch name. It would be more consistent to also follow this.

![screenshot from 2015-05-13 14 15 29](https://cloud.githubusercontent.com/assets/4266355/7610171/0d5c1ae4-f97b-11e4-8b70-b40dd4d63779.png)

[2015-05-13 20:32] pdostal commented on #75
Agree :+1: It would be nice.

[2015-05-14 07:43] Sgiath commented on #75
The status displays local branch and after that remote branch like this `<loc-branch>   <remote>/<rem-branch>` but only when \<loc-branch\> and \<rem-branch\> has the same name \<rem-branch\> isn't repeated due to a shortened output. This behavior is correct because \<loc-branch\> (in your case _master_) isn't remote branch (remote branch is the second one - _origin/master_) and switching positio

[2015-05-14 15:26] arialdomartini commented on #75
Good point @pdostal @robkorv !
I wonder if swapping them could be confusing, since like @Sgiath claims, the meaning is not 'you are on origin/master' but `you are on master, that tracks origin/[master]`

I understand @pdostal and @robkorv suggest to swap the elements. What would you do @Sgiath ?

[2015-05-14 15:55] Sgiath commented on #75
I like it as it is right now and I see logic in that. I thought that this "enhancement" was suggested because of misunderstanding actual situation so I want to correct that.
Maybe solution is don't shortened the name of remote branch in case of the same name but I think it isn't necessary. I just simply love it as it is.

[2015-05-14 16:29] robkorv commented on #75
Now I also see the logic behind it, tnx @Sgiath.

I suggest to keep the logic it is. An usability improvement would be, to not shorten `remote/trackingbranch` when on the same branch.

I started this issue because when I wanted to do a reset of a local branch on the remote branch with the same name. I started typing `git reset branchname/remote` instead of `git reset remote/branchname`. I unconsci

[2015-05-16 12:15] Tazeg opened #76 "prompt.sh character"
The character  appears twice in prompt.sh but has not effect if we don't use fonts.
Maybe you could replace it with a symbol, i mean for example like "${omg_has_deletions_symbol:=''}".
So that it could be customed in a theme.

[2015-05-16 19:12] pdostal commented on #76
Agree, it will be nice to be able to customize everything from `~/.bashrc` :+1:
For example I must have my own :octocat: fork because of background colors  :frowning:
![screenshot 2015-05-16 21 11 32](https://cloud.githubusercontent.com/assets/1254493/7667642/2e0915de-fc10-11e4-936a-fab75c2db100.png)

[2015-05-16 22:34] Sgiath commented on #76
Yeah but I think better would be file `omg.conf` or something like that where user could set his own settings. For example prompt, symbols, etc. I know it is possible now by editing `prompt.sh` but it is some kind of "hacking" :smile: it would be nice to have "official" way.

[2015-05-17 12:54] pdostal commented on #76
It would be possible to create `omg.conf` or better `omg.sh` but it's OK to just store it in `.bashrc` file.
The problem is that we need more properties to customize everything - every **symbol** and every **color**.

[2015-05-18 14:00] Tazeg opened #77 "omg_omg_has_adds_symbol"
README.md:99:: ${omg_omg_has_adds_symbol:='+'}
Did you mean ${omg_has_adds_symbol:='+'} ?
Also found in : oh-my-git-themes/arialdo-pathinline.zsh-theme

[2015-05-19 15:21] #77 closed

[2015-06-02 20:32] atav32 commented on #42
+1 looking forward to this

[2015-06-02 20:44] atav32 opened #79 "Line wrap not working properly on OS X 10.9.5"
A really long line will write over the prompt before wrapping to the next line

![6e2sbpctkt](https://cloud.githubusercontent.com/assets/622185/7946739/3d2c595c-092d-11e5-8f41-49701ca54125.gif)

I think this is related to not having closing brackets on color variables [[1]](http://askubuntu.com/a/251186/258990) [[2]](http://unix.stackexchange.com/a/105974/32915)

[2015-06-02 22:32] pdostal commented on #42
For example I'd like to use different colors :art:
So it'd be nice to create my own custom theme :yum:

[2015-06-04 20:06] masukomi commented on #42
Just as a note this is the version of bash I've got on my mac running Yosemite.

[code]

[2015-06-04 20:08] masukomi commented on #42
I vote for solution 1

[2015-06-10 07:20] michel-slm commented on #71
Dupe of #38

[2015-06-10 07:20] #71 closed

[2015-06-20 06:40] mirzalazuardi commented on #60
I have the same issue. now i fixed the bug thanks @arialdomartini

[2015-06-20 18:58] mateuspadua opened #83 "show virtualenv breaks new line in terminal. Code fix include"
I enabled the function omg_prompt_callback to show current branch in ubuntu and this dont leave terminal create new line, how  in the image below.

![screenshot from 2015-06-20 15 55 36](https://cloud.githubusercontent.com/assets/515075/8268749/dadd22a4-1764-11e5-9679-197452b21807.png)

I copied this script to my .bashrc

VIRTUAL_ENV_DISABLE_PROMPT=true
function omg_prompt_callback() {
    if [ -n

[2015-07-06 02:07] stonewareslord commented on #67
Yes. You can use antigen to install oh-my-git. Follow the antigen instructions, but leave out this line: `antigen-use oh-my-zsh`. Then in your zshrc, add `setopt prompt_subst`. Your prompt should now work with oh-my-git!

If you want colors, you should download and source [this](https://github.com/robbyrussell/oh-my-zsh/blob/599831b85a5fd4564ab820530e2bb45f37ca3f99/lib/spectrum.zsh) file or just a

[2015-07-14 21:22] arthur-nickless opened #84 "Updates on repo changes"
This is probably a large request ( or not possible for a git prompt - I don't know )  but it would be cool if oh-my-git re-rendered/re-calculated anytime a file was changed, removed or added etc.

Oh-my-git is excellent but one of the problems I have with it is it not being a "live state" of the code you're working on, you have to call git status or run a terminal command for it to re-render/re-ca

[2015-07-14 22:59] NobbZ commented on #84
You can't live render the prompt. Neither bash nor zsh nor any other shell
I worked with allowed that, but simply hitting enter on the prompt gave me
a new up to date prompt.

arthur-nickless <notifications@github.com> schrieb am Di., 14.07.2015,
23:22:

[2015-07-28 03:10] #84 closed

[2015-07-28 03:11] arthur-nickless commented on #84
[Closed]
Reason: It seems the prompts that oh-my-git run on unfortunatley do not support listening to files events.

[2015-08-06 09:20] Sgiath opened #85 "Tracking remote isn't shown when push URL is different"
Git let us set up different URL address for pushing
[code]
this is very useful when you work with your fork where you want to push but you want pull just from main repo.
Config file after this look like this:
[code]

But when I create new feature branch and push it to my repo:
[code]
oh-my-git still shows it as local branch.
But now I can easily push this branch like this:
[code]
and it's correctl

[2015-08-10 11:36] WitzHsiao opened #86 "How can I customize old prompt when at a non git directory"
I wanna customize my old prompt or use another theme when at a non git directory.
How can I do this?
thanks

[2015-08-10 15:42] Sgiath commented on #86
Edit ``omg_ungit_prompt`` variable for different prompt outside the GIT repo (for example my value is ``\w • ``).
Edit ``omg_second_line`` variable for different second line in GIT repository (for example my value is ``\W • ``).
Both variables can be found in ``promt.sh`` on lines 7 and 8. Simply delete ``$PS1`` (the default prompt) and write there your own custom settings (in quotes).
You can use

[2015-08-10 16:10] Sgiath commented on #85
I'm sorry this isn't issue with different fetch and push URL.

It was caused because I used ``--single-branch`` for cloning so in config for remote origin was:
```fetch = +refs/heads/master:refs/remotes/origin/master```
That means that git is watching just for master branch and not for others. There should be
```fetch = +refs/heads/*:refs/remotes/origin/*```

So no bug here :smiley:

[2015-08-10 16:10] #85 closed

[2015-08-11 02:29] WitzHsiao commented on #86
@Sgiath thanks for your help, will try it!

[2015-08-11 03:17] WitzHsiao commented on #86
Can I use calculated function for omg_ungit_prompt?

[2015-08-26 18:20] iHarshad commented on #60
I did this on Yosemite

* Open this link - https://github.com/stefano-meschiari/dotemacs/blob/master/SourceCodePro%2BPowerline%2BAwesome%2BRegular.ttf
* Right click on `View Raw` and click on `Save Link as` to download the font.
* Install the font by double clicking on it
* Font Book will open and show the installed font.
* Select the font in the iTerm2 Preferences as shown
![image](https://cloud.

[2015-08-27 14:32] Salamandar commented on #39
Merging the two .sh and renaming as oh-my-git.zsh-theme works fine !

[2015-08-27 20:03] tsabran commented on #34
Hello,
I had the same issue error, zsh complaining with:

This is indeed caused by the following line of enrich_append:

By checking on the Internet, I found out that adding double-quotes solved the issue.
Yet I don't understand clearly why zsh is complaining without those.

Anyway, using the following did the trick:

[2015-09-22 17:27] ross999 commented on #60
I was having a similar issue and found that you can just add them to the Library > Fonts folder manually if they won't install via Font Book.

Click on your desktop > option click "Go" up top > Open Library > find the fonts folder and add it there.

[2015-10-14 19:27] chishaku commented on #60
I'm having the same issue on OSX 10.9.5.

I can install the Inconsolata and the Droid fonts by double-clicking into Font Book or just adding to /Library/Fonts.  However, these methods are not working with the SourceCode font and consequently, the icons are not showing up properly in my prompt.

Also, I tried changing the names of the SourceCode font as mentioned above but no success.

[2015-10-21 09:54] lookforit opened #88 "how to customize theme?"
Hi,
Is there any way to set the theme to classical one(eg,`robbyrussell`) in `no-git repo` paths?

By the way,I found a prompt appears in the right side :
![omg](https://cloud.githubusercontent.com/assets/1892462/10633344/9d736fd6-781c-11e5-8ad2-eeaba8c4ffc3.png)
It looks strange,and how to remove the right prompt?
Thanks a lot.

[2015-11-12 08:57] rlovtangen opened #89 "Current working directory is lost when opening a new tab"
Cmd - T on OS X opens a new tab in Terminal with the same working directory.
With oh-my-git enabled, the working directory is not preserved, the new tab is always opened with my home dir as working directory.

[2015-11-30 16:49] stationstops commented on #60
That worked for me iHarshad thanks

[2015-12-22 21:20] mnaglee commented on #10
I had a bit of trouble with Putty squishing the glyphs.  Turned out that the font had to be set BEFORE the session started, or weird things would happen to glyph widths, so here's a quick guide for Windows PuTTY users:

1. Install the three powerline fonts here: https://github.com/gabrielelana/awesome-terminal-fonts/tree/patching-strategy/fonts
2. Restart puTTY.
3. Load the "Default Settings" prof

[2016-01-28 19:59] SpikeShape opened #90 "Missing icons even after installing the fonts"
I still see weird icons although I followed the instructions and installed all the three fonts.

I already got it working on an OS X 10.10 Yosemite but now I am on El Capitan.

Are there ay reports of Oh My Git not working on OS X 10.11?

[2016-03-03 16:43] adiultra opened #91 "Resized First part of git prompt"
Is there a way for the first part of the git command to resize as new symbols appear later?

![selection_005](https://cloud.githubusercontent.com/assets/12121575/13501483/e1168e92-e18c-11e5-8332-ada405064031.png)

In the above screen shot I don't like that the blue coloured first part is that huge, I just want it to be four chars, when no special thing is available.

Can I do That. If not, Can it

[2016-03-05 17:13] fcagalj commented on #60
Thanks iHarshad!

[2016-03-12 03:24] georgeteo commented on #88
Bump. Have you solved this issue?

I have also have the time and user@host on the right side that I want to get rid of. I can't figure out which part of the source code adds this field.

[2016-03-15 17:26] atav32 commented on #83
how did you do the color conversion from `\e[0;31m` to `\[\033[31m\]`?

[2016-03-15 18:03] mateuspadua commented on #83
Hello, atav32, but i picked this color in web. sorry for not being able to help

[2016-03-21 21:12] luzma87 commented on #42
Any updates on this? I really like the compact display :)

[2016-04-13 08:31] darktiny commented on #90
You need this https://github.com/arialdomartini/oh-my-git/issues/37

[2016-04-13 13:21] SpikeShape commented on #90
Thank you a lot! Gonna try that asap.

On Wed, Apr 13, 2016, 10:31 AM Darktiny He <notifications@github.com> wrote:

[2016-04-17 06:21] arialdomartini opened #92 "iTerm must use UTF, document it in the readme"

[2016-04-17 06:28] arialdomartini commented on #91
ciao @adiultra

Yes, it can be a new feature as soon as I'll implement the support for custom themes in omg.
So far, this is intentional: when I started omg the original idea was to provide the user with a sort of dashboard, a bar with led icons, which could be off or on, depending on same states, just like in the instrumental panel of a car; in other words, I liked the idea my eyes could get used

[2016-04-17 06:28] #91 closed

[2016-06-03 16:49] Serhioromano commented on #37
@zedtux Thanks. I totally forgot to change fonts in new iTerm 3. there are profiles now. I spent half of the day in attempt to see icons instead of crosses. I broke my brew, restored when I only need to change font parameter in iTerm options.

[2016-06-11 15:44] fumblehool opened #95 "Icons missing after using one line install for linux bash"
I used one line install to install oh-my-git. After it is installed, icons are missing in the terminal. Please suggest a fix.

[2016-06-15 11:10] maxailloud commented on #42
Where are we on that display/theme?

[2016-06-15 12:06] jderusse commented on #42
I personnaly switched ton [powerline](https://github.com/powerline/powerline) where I implemented a plugin : https://gist.github.com/jderusse/b78505a6330c2d5ca98bdb60a6e42afb

![screenshot from 2016-06-15 14-06-23](https://cloud.githubusercontent.com/assets/578547/16079065/61e90650-3302-11e6-9eac-74f5d8264b51.png)

[2016-06-15 12:33] maxailloud commented on #42
Ok.

But maybe @arialdomartini has worked on a theme feature and this interest me.

[2016-06-23 12:47] isacagou commented on #34
This tip does not work for me.
Environment :
- Mac Os x El captain 10.11.5
- zsh 5.0.8 installed via homebrew

<img width="401" alt="capture d ecran 2016-06-23 a 14 46 52" src="https://cloud.githubusercontent.com/assets/20110118/16303537/6e928c32-3951-11e6-82ad-8dd5b5482ef9.png">

[2016-06-27 07:04] crazy-canux opened #96 "Can I install this with oh-my-zsh"
Can I install this with oh-my-zsh?

[2016-07-21 14:25] komizutama opened #97 "Weird formatting"
Hi I found this kind of interesting bug... it looks like the triangles are smaller than they should be.. I wonder if that's from my line/font settings. I'll mess around a bit and see what I can do to fix it.
If you have thoughts as well, I'd be happy to hear them.
Cheers,
M
<img width="322" alt="screen shot 2016-07-21 at 10 23 03 am" src="https://cloud.githubusercontent.com/assets/4823357/17026238

[2016-07-21 17:03] cici opened #98 "No prompt after Mac (El Capitan) install"
I used the one-liner and then opened a new window and sourced .profile.  I don't get a prompt at all:

| => source ~/.profile
-bash: total: No such file or directory
-bash: build_prompt: command not found

[2016-07-21 17:04] cici commented on #96
There are instructions on how to use with oh-my-zsh by using antigen in the main README.

[2016-07-22 01:28] crazy-canux commented on #96
antigen ?
If I just want to do it with git clone, where should I put it?
As what part of oh-my-zsh?

[2016-07-22 11:33] robkorv commented on #63
@arialdomartini can you please share how I can do this?
* in git dirs use `antigen theme arialdomartini/oh-my-git-themes oppa-lana-style`
* in non git dirs use `antigen theme robbyrussell`

[code]

How should is use `omg_ungit_prompt`? No I get `${ret_status} $fg[cyan]compound$reset_color $(git_prompt_info)` like promt outside git dirs.

[2016-07-22 19:17] cici commented on #98
For some reason, my $BASH_SOURCE is returning the entire directory listing, so that's why it is returning the word "total".  I made a change to prompt.sh and it works now.

[2016-07-22 19:17] #98 closed

[2016-07-25 11:27] #90 closed

[2016-08-14 08:58] WinstonN commented on #63
hello

I would like to use my old zsh theme (pretzo) when I am not in a git directory
I tried to set the variable `omg_ungit_prompt` in my  ~/.zshrc to

[code]
but this does not work. Can you please explain to me how to do it?

[2016-08-14 09:00] WinstonN opened #99 "git remote shows as @a"
hello

in bash oh-my-git works great, and show my remote correctly. However, in zsh it shows the remote as `@a`
what can be wrong with that?

[2016-08-14 12:39] WinstonN commented on #99
I have tracked the code down to this Line
https://github.com/arialdomartini/oh-my-git-themes/blob/master/oppa-lana-style.zsh-theme#L131

But, that all looks fine. In the bash version, that code works fine

[2016-08-14 18:35] #99 closed

[2016-08-16 09:25] tomasky commented on #76
All the same.

[2016-08-29 17:11] amitmisra16 commented on #34
Same here, this tip did not work for me.

Here is my system details:

- Ubuntu 16.04
- zsh 5.0.7 (x86_64-pc-linux-gnu)
- git 2.1.4

This behavior is consistent irrespective whether the project is github project cloned and also on gitlab projects (used in my organization) cloned on my local system

`+custom_build_prompt:77> local 'type_of_upstream='
+custom_build_prompt:80> [[ false == true ]]
+cu

[2016-09-01 11:44] #96 closed

[2016-10-21 09:12] TimEckhoff opened #100 "Bash sessions on OS X El Capitan (10.11) let source prompt.sh fail"
When having bash sessions enabled (system default) and trying to run `source prompt.sh`, the following problem arises in prompt.sh:5
After executing `DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"`, $DIR contains `/Users/tim/oh-my-git Saving session... ...saving history...truncating history files... ...completed.`, which obviously messes with the rest of the program.

Disabling bash sessi

[2016-10-28 23:48] laytong commented on #95
I'm having the same problem. I've installed the fonts and set my terminal to use one of them
![screen shot 2016-10-28 at 16 48 15](https://cloud.githubusercontent.com/assets/9656959/19825466/5b1a0d9c-9d2e-11e6-8c7f-56632fdf11ec.png)

[2016-10-28 23:52] laytong commented on #95
Update: I just realised my iTerm was using a different font for non-ascii characters. problem solved
![screen shot 2016-10-28 at 16 52 19](https://cloud.githubusercontent.com/assets/9656959/19825508/e9a5a3d2-9d2e-11e6-8a17-7c83cf26e420.png)

[2017-02-09 15:15] evenme opened #101 "Fonts still not working after install"
I installed the fonts as described (fallback strategy), used antigen for oh-my-zsh, oh-my-git and themes) but still haven't got the fonts working, even though I can see the characters when using echo.

![screenshot from 2017-02-08 11-36-41](https://cloud.githubusercontent.com/assets/117922/22746740/dec65776-edf2-11e6-91bb-613c6afd16fa.png)

I'm using CentOS and RedHat on that (tested on multiple s

[2017-02-11 23:07] arialdomartini commented on #101
Ciao @evenme. I don't get it, sorry: in your screenshot the prompt bar seems working.
Would you please share a screenshot of the prompt inside a repository with some modified, some deleted and some untracked files?

[2017-02-12 14:05] krayon commented on #49
@arialdomartini

I'm SURE I've missed something, but is there any reason you wouldn't just reset then set foreground to red again?

This appears to have the desired affect to me:
https://github.com/krayon/oh-my-git/tree/lastcharfix

[2017-02-14 20:58] arialdomartini commented on #49
Ciao @krayon.
does it work with any background color? If so, I'll be happy to merge a pull request of yours!

[2017-02-17 16:30] evenme commented on #101
I tested a bit more, on my computer, the theme looks a lot different from the other environments I'm trying to setup this:

My computer:
![screenshot from 2017-02-17 11-27-01](https://cloud.githubusercontent.com/assets/117922/23073619/24fde21e-f504-11e6-8d72-d312a5a4d6a0.png)

On a clean vagrant environment (same shows up on multiple servers I'm trying this):
![screenshot from 2017-02-17 11-27-56]

[2017-02-23 03:38] alysivji opened #102 "Can't get Anaconda (python) Virtual Environment name to display in bash prompt"
I can't get the Anaconda virtual environment name to display on the 2nd line of my bash prompt.

I tried to follow the fix for virtualenv from the README (replacing ```$VIRTUAL_ENV``` with ```$CONDA_PREFIX```), but that did not work.

If I can be pointed in the right direction, I can make the fix and create a pull request.

Thanks!

[2017-03-01 06:50] fajaryanw opened #103 "Some symbols are not displaying properly in VS Code"
I have just installed oh-my-git in [oh-my-zsh
](http://ohmyz.sh/) I am following [this](https://github.com/arialdomartini/oh-my-git#how-to-install-antigen)

In my terminal looks fine
![terminal zsh](https://cloud.githubusercontent.com/assets/6999559/23448755/6efc64dc-fe85-11e6-83a8-bac905662abe.png)

But in [Visual Studio Code](https://code.visualstudio.com/) Integrated Terminal, there are some sy

[2017-03-10 19:47] francescomucio commented on #83
This really solved the problem on Ubuntu 16.04

[2017-03-17 21:29] jldugger opened #104 "Local code execution bug =)"
https://github.com/njhartwell/pw3nage contains a proof of concept that can be used to execute a script inside the repo by using a cleverly named branch.

Steps to reproduce:

0. enable oh-my-git
1. clone above git repo
2. cd into repo

[2017-03-28 14:38] jay16213 commented on #103
@fajaryanw , please change your setting to``"'SourceCodePro+Powerline+Awesome Regular'"``,
you forgot the single quotes and that's why this error happened

[2017-03-28 21:58] stephan-v opened #105 "Prompt formatting changes outside git repository?"
I have installed everything including the font, it works perfectly fine and looks really nice. Except for when I go to a non git directory. What could be causing my prompt to switch to a percentage sign and not use the dot that I see when in a git repo?

[code]

[2017-03-29 09:14] fajaryanw commented on #103
@jay16213 thanks, it works

[2017-03-29 09:14] #103 closed

[2017-04-10 15:38] Dirk1980ac opened #107 "No Prompt in non-git directory"
I installed the fonts, antigen and oh my git as documented.

My Problem is, that I have no prompt on the left side in directories whithout a git repo. In a git repo everything works fine.

Any hints what went wrong?

Thanks,
Dirk

PS: I'm using Fedora 25, if this matters.

[2017-04-12 06:30] krayon commented on #49
@arialdomartini Sorry I missed your reply. It does work for me with any background colour in urxvt but I've not tried it in anything else. My only hesitation is that it seemed so obvious I assume there must be a reason no one else offered it :S

[2017-04-12 06:51] krayon commented on #49
@arialdomartini As requested, I have created a PR ( #108 )

[2017-05-11 06:27] yifan opened #110 "git version 2.13.0 error when not in git directory"
I just updated git with homebrew. The new git will print error message related to this commit:
https://github.com/git/git/commit/b1ef400eece473f83f39980c54f67e3e7d202538

Now I keep getting this `fatal: BUG: setup_git_env called without repository` message for every command and directory in my terminal.

[2017-05-15 00:39] jawshooah commented on #110
I've reported the issue to the Git mailing list and a patch is in the works, as `BUG` assertions should never happen in the wild, but oh-my-git probably shouldn't be calling `git config --local` outside of a Git repository to begin with.

[2017-05-16 10:40] massar commented on #110
Simply redirecting the error to /dev/null and at least it is not confusingly (as one might think it is the command you run, instead of the prompt :) ) popping up that error all the time.

diff:
[code]

Also some wee little background from https://github.com/blog :
[code]
and other people are reporting issues as well:
https://www.spinics.net/lists/git/msg303775.html

[2017-05-18 10:49] sw0x2A commented on #110
I think better solution is to simply drop `--local`. git-config will skip repo-level config if it is not in a repo and fatal is not triggered.

[2017-05-20 14:36] charlesmilette opened #111 "oh-my-git isn't using the right unicode characters on my system."
I installed oh-my-git and awesome-terminal-fonts from the Arch Linux AUR and used the fallback strategy.

For some reason, my icons aren't using the same unicode characters than for oh-my-git,
for example my GitHub icon:
![image](https://cloud.githubusercontent.com/assets/6440374/26276562/e222527c-3d47-11e7-9dba-e7e69b399bfd.png)

Which results in a broken prompt:
![image](https://cloud.githubuser

[2017-05-24 13:40] amorfis opened #112 "Can't install on Mac, iTerm2, oh-my-zsh"
I followed the instructions, but after adding
[code]
to my `~/.zshrc`, this is what my terminal says:
[code]

Surprisingly, it works when I just run the commands one after another by hand in the terminal.

[2017-06-18 18:59] Casyfill commented on #112
just remove all the dashes:

[code]
also, a quick hint: change fonts in iterm2 > profile -> text, it took me some time to realize this missing step

[2017-06-18 19:00] Casyfill commented on #110
tried, but both suggestions didn't work for me.
do I need to reinstall the plugin somehow after changing the `base.sh`?

[2017-06-24 14:45] florinpatrascu commented on #110
@Casyfill - for me it worked after reloading `~/.profile` HTH

[2017-06-25 14:30] Casyfill opened #113 "antigen theme oppa-lana-style frezes the antigen"
Any time I run `artini/oh-my-git-themes oppa-lana-style` it returns  `Seems arialdomartini/oh-my-git-themes is already installed!` and "frezes" after that,

[2017-06-26 05:45] huxi commented on #110
Message changed from `fatal: BUG: setup_git_env called without repository` (2.13.1) to `fatal: --local can only be used inside a git repository` (2.13.2).

[2017-06-27 19:41] cy4n commented on #104
this could be used as a workaround https://github.com/arialdomartini/oh-my-git/pull/109#issuecomment-311462105

[2017-06-27 19:43] cy4n commented on #110
there's additional value to removing the --local instead of skipping the error:
https://github.com/arialdomartini/oh-my-git/pull/109#issuecomment-311462105

[2017-07-03 19:34] cy4n commented on #104
https://github.com/arialdomartini/oh-my-git/pull/114

[2017-08-05 06:27] ortonomy opened #116 "Anitgen usage instructions are incorrect in ``README.md``"
You use a hyphen in the antigen commands, which break and do not work. Should be:

# How to install antigen

antigen is a plugin manager for zsh. Installing antigen is straightforward:

[code]

Then, edit your .zshrc file including

[code]

When you restart zsh, antigen will download and install all that's needed.

[2017-09-22 09:20] macropin commented on #110
Just hit this with the latest `Xcode 9.0` update which ships `git version 2.13.5 (Apple Git-94)`.

[2017-09-22 11:41] macropin commented on #110
Looks like there is a PR for this #109

[2017-10-04 09:32] christopheleroux commented on #111
I experimented the same issue (ubuntu 16.04). After trying hard to remap chars in prompt.sh..., i just changed my term (teminator) font settings to use SourceCodePro+Powerline+Awesome!
Everything works fine now. Hope this helps

[2017-10-04 10:09] arialdomartini commented on #113
Hi @Casyfill
Doh, that's an unexpected behavior: never experienced nothing similar.

Would you please share the relevant commands in your `.zshrc`, so I can try to help you solve the issue? Thank you!

[2017-10-04 10:34] arialdomartini commented on #116
Great, I just discovered I was using a very old Antigen version.
With version 2.2.1 I was able to reproduce the issue. I'm definitely going to fix it.

[2017-10-04 11:53] #112 closed

[2017-10-04 11:53] #116 closed

[2017-10-04 14:03] arialdomartini commented on #110
@yifan,  @jawshooah, @massar, @sw0x2A,  @Casyfill, @florinpatrascu, @huxi, @macropin

thank you very much to you all! I'm closing this issue, since #109, which fixed the problem, has been merged to master. Grazie mille!

[2017-10-04 14:03] #110 closed

[2017-10-12 05:01] RatanShreshtha opened #120 "How can I make my own theme for oh-my-git ?"
I love oh-my-git but I want to make my own theme for oh-my-git which looks something like this
![screenshot from 2017-10-12 10-30-29](https://user-images.githubusercontent.com/10801618/31479952-5f44e560-af0a-11e7-88ff-14143671e0b3.png)

How I can do that ?

[2017-10-13 08:52] arialdomartini commented on #120
Hi @RatanShreshtha
Are you on bash or on zsh? With the latter, it should be easier, since zsh supports themes: you can see some themes for oh-my-git here https://github.com/arialdomartini/oh-my-git-themes
With bash, I think so far the only option is to fork the repo, and change the file `prompt.sh` while keeping `base.sh` unchanged.

Actually, in the future I would like to make it easier to custom

[2017-10-13 15:35] stephanfriedrich commented on #63
@arialdomartini
Hi i want to use oh-my-git besides of oh-my-zsh. but if i change my working-directory to non git-repo. it wont load the zsh-theme.

what can i do ?
thx

[2017-10-18 13:31] stephanfriedrich opened #123 "switch between on-my-git and oh-my-zsh"
Hi, thx for your awesome oh-my-git.
is it possible to use oh-my-git on directories-within-git-repo and switch to oh-my-zsh-theme if i change to non-git-directory? i could not find any informations which will work.

system:
* mint linux 17.3
* zsh 5.0.2 (x86_64-pc-linux-gnu)
* latest oh-my-zsh
* latest antigen
* latest oh-my-git

expected behaviour:
1) go to "non-git-directory" and show oh-my-zsh t

[2017-10-26 12:07] niladam opened #125 "Fish version?"
Hello,

Are there any plans to port this to fish too ?

[2017-11-03 22:08] olemartinruud commented on #111
I've also had the same issue. My prompt is filled with squares with unicode numbers inside.

[2017-11-24 18:36] tweeres04 commented on #98
Thanks, I got a similar issue and you helped me resolve it. I just removed the `DIR` variable and hard coded the path to my `base.sh` file on the next line.

[2017-11-27 23:04] bitsofinfo commented on #95
same issue, even if non-ascii chars chooses the installed fonts

[2017-11-28 19:29] alysivji commented on #102
I started using [Bash-it](https://github.com/Bash-it/bash-it) instead. Closing this issue. Thanks

[2017-11-28 19:29] #102 closed

[2018-01-09 12:52] unic0rn commented on #125
a little bit late, but perhaps it'll be useful to someone.

i've made a rewrite of oh-my-git that should work with any shell having an equivalent of PROMPT_COMMAND from bash. it differs in quite a few ways, themes can only change the icons and colors, and i'm not a heavy git user so it isn't well tested - but it seems to work.

https://github.com/unic0rn/fancybash

[2018-02-12 23:48] shivanshsingh commented on #95
I am seeing the same issue. @laytong how did you solve the issue? Can you describe the steps or point to a page which describes the steps to resolve this issue.

[2018-02-13 05:35] laytong commented on #95
The fonts here solved my issue

https://github.com/arialdomartini/oh-my-git/issues/37

[2018-02-21 21:27] NightMachinary commented on #113
I hate this issue, too.
My whole .zshrc:

`
DEFAULT_USER="evar"
# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH=/Users/evar/.oh-my-zsh

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://gith

[2018-03-07 23:00] fizux opened #128 "WSL (bash in windows) install fix"
I had problems using oh-my-git with bash in windows (aka WSL / Windows Subsystem for Linux), specifically getting the Awesome Terminal Fonts to display icons. This ended up working for me...

Install the patched font Droid Sans Mono Awesome, available at:
`https://github.com/gabrielelana/awesome-terminal-fonts/blob/patching-strategy/patched/Droid+Sans+Mono+Awesome.ttf?raw=true`

Windows recently c

[2018-03-17 19:45] tommasolaurenzi opened #129 "question: display short path in omg_second_line"
Hi, I've currently set up $omg_second_line as follows to display the path relative to project root in $PS1. It works, so far so good, but I feel like it's "a bit" convoluted... is there any simpler way to implement this?

`omg_second_line='\[\033[36m\]$(git rev-parse --show-toplevel | sed "s/^.*\/\(.*\)$/\1/")/$(git rev-parse --show-prefix)\[\033[m\]$ '
`

Thanks!

[2018-03-19 17:56] tommasolaurenzi opened #130 "have to source twice..."
I came across something weird:

I am on MacOSX High Sierra with its plain bash and iTerm2.

the weird thing is, I log in, I `cd` into a repo, nothing happens, then I manually `source ~/.bash_profile` and everything is working fine...

I've added echos here and there and everything is sauced correctly at login, but the prompt does not appear until I source a second time, does not matter from which

[2018-03-19 18:00] tommasolaurenzi commented on #130
solved (should anyone be interested).... anything bound to modify PS1 should come before `source "${HOME}/.iterm2_shell_integration.bash` or iterm2 cripples it

[2018-03-22 13:30] arialdomartini commented on #130
Nice to know. Do you think I should add this to the documentation, @tommasolaurenzi?

[2018-04-07 22:51] fsevestre commented on #105
I have the exact same issue, any workaround ?

![peek 08-04-2018 00-49](https://user-images.githubusercontent.com/4130750/38461045-d49c9914-3ac6-11e8-85f1-10498ead8f9b.gif)

[2018-04-07 23:02] stephan-v commented on #105
Sorry, I created a custom prompt myself because there were too many issues. Good luck though.

[2018-05-11 21:37] BarbzYHOOL commented on #125
Doesn't seem to work with fish with set PROMPT_COMMAND PS1=`/tmp/fancybash eezoterial`

[2018-05-12 16:37] unic0rn commented on #125
how about 'PS1=`/tmp/fancybash eezoterial`' ? also, i would suggest using .bashrc

[2018-05-12 16:39] unic0rn commented on #125
it should work. does fish have any equivalent of .bashrc?

[2018-05-24 17:21] sri-ghub opened #131 "After oh-my-git installation terminal always displaying font text %K{white}%F{black} %K{white}%F{black} .."
@arialdomartini
**# Error**
After installing oh-my-git as per the link below.
[https://github.com/arialdomartini/oh-my-git/blob/master/README.md#install-the-patched-font](url)
My terminal always displays wit
th below code, can you suggest me what I am doing worng?
[code]
![oh-my-git-issue](https://user-images.githubusercontent.com/16725432/40500931-654ba61a-5f54-11e8-9f7c-fa50b069e1ce.jpg)

Notes:

[2018-06-12 04:58] shasureshkumar opened #132 "Issue on macOS High Sierra"
Hi,
I have followed the steps given by you, added SourceCodePro+Powerline+Awesome Regular as a font but it showing the expected result (PFA)
<img width="575" alt="screen shot 2018-06-12 at 10 26 34 am" src="https://user-images.githubusercontent.com/11661366/41270893-3c4650c2-6e2b-11e8-9194-5df4b0a142d1.png">
<img width="1107" alt="screen shot 2018-06-12 at 10 25 41 am" src="https://user-images.git

[2018-06-13 05:52] #132 closed

[2018-11-04 05:01] anied opened #136 "Only "end character" triangles are missing."
Most of the characters show up fine and it looks good-- however, the last character is missing/malformed:

![oh-my-git issue 2](https://user-images.githubusercontent.com/7458985/47960181-90c1bc80-dfc4-11e8-8ecf-f62026b09a1e.png)

Also I'm not sure what is up with the fancy "f" on the left.

I'm on Ubuntu 18.04, using the standard gnome terminal.

[2018-11-09 03:44] anied commented on #136
Closing this-- it was actually a number of concurrent issues, related to some bugs that are already open.  Hopefully I can open a PR in the next few days.

[2018-11-26 14:22] kevinrue commented on #102
Actually, I'm a fairly user of `oh-my-git` and just realized that I'm facing the issue described here.
I'll start digging, but any advice would be appreciated.

[2019-01-06 00:11] moonantonio opened #137 "Windows bash"
Hi,
Is it possible to implement it in git bash for windows?

[2019-07-28 14:55] OmorFaruque-65 commented on #137
Yeah, it would be great if it can be implemented with git bash on windows.
Hope I will find the answer here cause I am desperately looking for a solution.

[2019-12-02 08:36] pasankg opened #139 "git prompt is very slow"
Executing commands on the command line takes a couple of seconds more when oh-my-git is enabled in a repository.
With oh-my-git enables running `time git st`

[code]

And without oh-my-git on the same repo

[code]

Also just hitting enter on the cmd line it takes about 3 seconds for the prompt to release.
I tried in my mac terminal and iTerm2 and results were the same.

Any suggestions to fix this

[2020-01-17 19:50] fchorney opened #141 "Add JetBrains Mono for OhMyGit"
JetBrains has released a new open source font: https://www.jetbrains.com/lp/mono/

Would this be the right place to request a patched JetBrains Mono font with the powerline symbols, as well as the oh-my-git symbols? You can find a powerline patched version here: https://github.com/powerline/fonts/issues/336

Thanks :)

p.s. I tried doing this myself, but I have no idea what i'm doing when it comes

[2020-01-17 20:41] fchorney commented on #141
Well, guess I figured it out. https://github.com/fchorney/JetBrainsMono-Awesome

[2020-01-17 20:41] #141 closed

[2020-03-07 18:39] victoriadrake opened #142 "Getting "build_prompt: command not found" after following install instructions"
I installed this (very awesome) prompt according to the instructions and repeatedly got:

[code]

I fixed this issue by adding `#!/bin/bash` to the top of `prompt.sh` and `base.sh`.

I'm using Ubuntu 19.10 and Kubuntu 19.10. Just an FYI in case anyone should run into the same issue.

[2020-03-07 18:39] #142 closed

[2020-07-02 16:21] MoonAntonio commented on #137
So far, I have only been able to use it in wsl with Fluent Terminal.

[2021-04-02 07:04] DYW972 commented on #67
Hi 🖖 !

We really need antigen to install Oh-My-Git?

Can we create it for zsh and add it to the project?

[2021-04-02 11:57] arialdomartini commented on #67
Hi!
I think that's technically possible. I should spend some time and make it more independent from antigen. If you have any hints how to proceed, you are more than welcome!

[2021-04-02 12:43] DYW972 commented on #67
Hi!

Thank you for your answer!

It will be my first time contributing so if I can help I will be happy!

I'm just beginning learning shell and I like omg.

I'm learning how your scripts work in order to make one for `zsh` without using antigen or `omz`.

If you have some advice you are welcome!

🖖

[2021-04-12 07:26] DYW972 commented on #67
I did it!! I already have working without oh-my-zsh! Was a big journey tho zsh core system but I made it.

Now I'm learning how to contribute on GitHub and then I will propose my update.

Still, If you have some advice you are welcome!

🖖

[2021-06-17 03:02] MosqutitoLiu opened #143 "how remove time and username@hostname ?"
can you help me please? tell me  how remove time and username@hostname ?

![截屏2021-06-17 上午11 00 52](https://user-images.githubusercontent.com/1235307/122324497-75303800-cf5b-11eb-8fac-85fa34d200e7.png)

[2021-06-17 05:34] arialdomartini commented on #143
Hi!
You can edit `omg_second_line` which defaults to

[code]

Just tell me if it works!

[2021-06-17 23:05] MosqutitoLiu commented on #143
it doesn't work .

[2021-06-17 23:23] arialdomartini commented on #143
My fault!
I’ll be far from the keyboard for a couple of days: I’ll give you a working answer as soon as back!

[2021-07-01 11:08] arialdomartini commented on #143
My fault.
It's `RPROMPT`

Just add a

[code]

The default value is:

[code]

[2021-07-01 17:47] #143 closed

[2021-07-24 16:50] loctran016 commented on #137
I've tried this and it's working:
[code]
Add this line to `C:\Program Files\Git\etc\profile.d\git-prompt.sh`:
[code]

[2021-12-05 05:14] #137 closed

[2022-01-26 16:43] ville-h opened #144 "beam cursor changes to block cursor"
If I've `oh-my-git` enabled in my `.bashrc`:
[code]
It appears that oh-my-git forces my beam cursor into a block cursor after any shell command I execute. I can see the correct beam cursor when I open the terminal and it stays as a beam if I just hit enter. I am using kitty terminal. Any ideas how to prevent this from happening?

[2022-04-21 11:20] p-himik commented on #139
The slowest part on my end seems to be the one that computes the amount of commits ahead/behind the upstream at https://github.com/arialdomartini/oh-my-git/blob/master/base.sh#L91-L95.

It can be dramatically improved by using this instead:
[code]

[2022-04-22 07:42] p-himik commented on #139
@arialdomartini Thanks for merging! But I've belatedly realized that, I think, there's an error there - `commits_behind` and `commits_ahead` are mixed up, the order should be different. Could you please check?

[2022-04-22 08:08] arialdomartini commented on #139
@p-himik good catch! You are right.
I fixed that.